/* -Colores estilos etc- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Monomaniac+One&display=swap');
@font-face {
    font-family: 'unown';
    src: url(../fonts/Unown-GB.ttf);
}
:root{
    /*Colores de prueba
    Background: lightgreen, rgb(103, 88, 88) gris oscuro,  
    COlor texto variante #FF014A,
    */
    --colorbackground:rgb(88, 88, 88);
    --colortexto: rgb(255, 85, 67);;
    --colortexto2:white;
    --texto: 'Monomaniac One', sans-serif;
    --texto2: 'Josefin Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    color: var(--colortexto);
    font-family: var(--texto);
}

/* -Cosas para todos- */
html{
    background-color: var(--colorbackground);
}
body{
    width: 75%;
    margin: 0 auto;
}
.titulo{
    font-size: 70px;
}
.Psyduck{
    border-radius: 50%;
    border: solid var(--colortexto);
    width: 10%;
    min-width: 100px;
    height: auto;
    justify-content: center ;
}

.back{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

#contenedor{
    text-align: center;
}

/* -Cabecera- */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}
a{
    text-decoration: none;
}
