#list{
    width: 70%;
    height: auto;
    margin: 20px auto;
    border: solid var(--colortexto);
}
.titulo_h2{
    font-family: var(--texto);
    font-size: 2em;
    list-style: none;
}

.tablaJuegos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas de tamaño mínimo de 300px */
    grid-gap: 20px; /* Espacio entre las imágenes */
    margin-bottom: 15px;
}
.titulo_plat{
    list-style: none;
    font-size: 3em;
    margin: 0;
}
#CountN, #CountS, #CountE{
    font-size: 25px;
}
.juegos_img {
  border: solid var(--colortexto);
  width: 250px;
  max-width: 225px; /* Puedes establecer un ancho máximo */
  height: auto; /* Esto garantiza que la imagen mantenga su proporción */
  margin: 5px auto;
}

.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menus>a{
    font-size: 25px;
    padding: 5px;
}

#listadoTier{
    display: flex;
    justify-content: center;
}
#atras,#alante{
    cursor: pointer;
}


/* #prueba > .videos{
    border: solid var(--colortexto);
    width: 100%;
    height: 15%;
    margin: 0 50px 0 0;
    
}
#prueba{
    column-count: 3;
} 


        <div id="prueba">
            <iframe class="videos" src="https://www.youtube.com/embed/5SvQ3NrB9VU?si=gXBVVCvBO3gBHRxh" frameborder="0" controls="false"></iframe>
            <iframe class="videos" src="https://www.youtube.com/embed/5SvQ3NrB9VU?si=gXBVVCvBO3gBHRxh" frameborder="0" controls="false"></iframe>
            <iframe class="videos" src="https://www.youtube.com/embed/5SvQ3NrB9VU?si=gXBVVCvBO3gBHRxh" frameborder="0" controls="false"></iframe>
        </div>
        
*/