#list{
    width: 45%;
    height: auto;
    margin: 1%;
}
.titulo_h2{
    color: rgb(221, 133, 148);
    font-family: "Cuack";
    font-size: 2em;
}
table {
    width: 300px;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    text-align: center;
    vertical-align: middle;

}

.juegos_img {
    width: 200px;
    padding: 15px 50px;
}

@media (max-width: 576px) {
    table {
        width: 100%;
        column-count: 1;
        column-gap: 10px;
    }
    .juegos_img{
        width: 100px;
        padding: 0;
    }
}