main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lider-container{
    border: 3px solid var(--colortexto);
    border-radius: 5px;
    padding: 15px;
}

.lider-card  img{
    width: 100px;
}

.equipo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    margin: 5px;
    border: 1px solid #ddd;
    background-image: url("../img/pokeball.jpg");
    background-size: cover;
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }

  .pokemon-card h3 {
    margin: 0;
    font-size: 22px;
    color: white; /* Texto con opacidad del 100% */
    background-color: rgba(88, 88, 88, 0.9); /* Fondo con opacidad del 70% */
    border-radius: 3%;
  }