@media (max-width: 500px) {

    .juegos_img {
        width: 75px;
        height: auto;
        
        grid-template-columns: repeat(3 , 5px);
        grid-gap: 0px;
      }
      .rules{
        flex-direction: column;
      }
      .rules iframe{
        width: 100%;
      }
      #tienda ul li{
        height: 150px;
      }
      #tienda ul li p:nth-of-type(2){
        display: none;
      }
}