@media (max-width: 768px) {

  .juegos_img {
    width: 100px; /* Nuevo ancho para dispositivos móviles */
  }

  .tablaJuegos {
    display: grid;
    grid-template-columns: repeat(2, minmax(125px, 1fr)); /* Columnas de tamaño mínimo de 300px */
    grid-gap: 20px; /* Espacio entre las imágenes */
    margin-bottom: 15px;
  }

  .tablaJuegos div h2 {
      display: none; /* Ocultar los títulos de los juegos */
  }

  .rules{
    flex-direction: column;
  }
  .rules iframe{
    width: 100%;
  }
  #tienda ul li{
    height: 150px;
  }
  #tienda ul li p:nth-of-type(2){
    display: none;
  }
  
}

