main{
    display: block;
}
#reglas{
    margin-left: 50px;
    font-size: 17px;
}

#tienda{
    width: 80vw;

}

#tienda ul{
    list-style: none;
    font-size: 20px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px; */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#tienda ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 175px;
    height: 375px;
    margin: 10px 30px;

    border: solid 2px grey;
    border-radius: 20px;
    padding: 5px;
}
#tienda li img{
   width: 40px; 
}
#moneda{
    display: flex;
    align-items: center;
}

#torneos h1{
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 15px;
}
#torneos h1:hover a{
    display: block;
}
#torneos a{
    font-size: 20px;
    display: none;
}
article, section {
    display: flex;
}
.shop{
    display: flex;
    flex-direction: column;
}

/* -- Subastas -- */

.pokemon-container details  {
    text-align: center;
    border: solid 5px #121212;
    margin: 5px 0;
    padding: 5px auto;
}

.pokemon-card{
    text-align: center;
    width: 150px;
    margin: 5px;
}

.pokemon-card img{
    width: 100px;
}

#cajas section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 0;
}
#cajas section *{
    justify-self: center;
    font-weight: lighter;
}

summary{
    font-size: 25px;
}


.green, #l1{
    color: lightgreen;
}
.blue , #l2{
    color: lightblue;
}
.red , #l4{
    color: lightcoral;
}
.yellow, #l3{
    color: rgb(255, 255, 145);
}
.leyenda{
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    
}