main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column {
    width: 100%;
    display: flex;
}

#leaderboard, #torneos {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#reglas {
    width: 100%;
    font-size: 17px;
}

.shop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#torneos h1 {
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 15px;
}

#torneos a {
    font-size: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .left-column, #reglas {
        width: 100%;
        flex-direction: column;
    }

    #reglas {
        margin-left: 0;
    }
}



/* -- Tienda -- */

#tienda ul{
    list-style: none;
    font-size: 20px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#tienda ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 175px;
    height: 375px;
    margin: 10px 30px;

    border: solid 2px grey;
    border-radius: 20px;
    padding: 5px;
}
#tienda li img{
   width: 40px; 
}
#moneda{
    display: flex;
    align-items: center;
}



